html{

}

body {
  margin: 0;
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.top-header{
  display: flex;
  justify-content: space-between;
  color: black;
  margin-top: 20px;
  align-items: center;
  padding: 10px;
  height: 15vh;
  position: sticky;
  top: 0px;
  z-index: 3;
  text-shadow: 1px 1px 3px rgba(15, 15, 15, .2);
}

.front-end {
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}

.front-end>.frontend{
  color: #4A4A4A;
}


/*- - - - - - GOOD ANIMATION*/


h2 span {
  display:inline-block;
  animation:float 1s ease-in-out infinite;
  letter-spacing: 2px;

}

 @keyframes float {
  0%,100%{ transform:none; }
  33%{ transform:translateY(-1px) rotate(-2deg); }
  66%{ transform:translateY(1px) rotate(2deg); }
}

span { animation:bounce 1s; }

@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}

h2 span:nth-child(2){ animation-delay:.05s; }
h2 span:nth-child(3){ animation-delay:.1s; }
h2 span:nth-child(4){ animation-delay:.15s; }


/*- - - - - - - PROFILE LINKS*/

.profile-links {
  display: flex;
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 25px;
  padding: 10px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile_pic{
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: 10px;
}

.profile-links>a>i{
  padding: 5px;
  font-size: 20px;
  color: #4A4A4A;
   mix-blend-mode: overlay;
  /*color: purple;*/
}

#nav {
  text-decoration: none;
  /*display: inline-block;*/
  list-style: none;
  text-align: center;
  position: sticky;
  left: 30px;
  top: 30px;
  letter-spacing: 2px;
}

li {
  display: inline;
}



.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 40px;
  margin-left: 50px;
}


/*- - - - - CARD*/

.recentwork{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.card-row {
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 90%;
}

.card-container {
  /*border: 1px solid blue;*/
  height: 350px;
  max-width: 350px;
  min-width: 350px;
  /*margin: 30px;*/
  border-radius: 5px;
  /*padding: 5px;*/
  margin: 60px auto;
  /*margin-bottom: 50px;*/
}

.image {
  background-color: black;
  height: 75%;
  border-radius: 3px 3px 0 0;
  background-size: cover;
  background-position: center;
}

.card-title {
  /*background-color:rgba(255, 255, 255, .3);*/
  color: black;
  /*text-shadow: 2px 2px 3px rgba(255, 255, 255, .3);*/
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px 3px 0 0;
}

.icon-links{
  font-size: 20px;
  color: white;
}

.icon-links a {
  color: #E85611;
  padding: 0 5px;
}

.text {
  padding: 20px;
  font-size: 11px;
}

.text>p>a{
  color: #EB7A27;
}


.text-1{

  background-color: #E4F4FB;
}

.text-2{
  background-color: #BBC2E2;
}

.text-3{
  background-color: #B90600;
  color: white;
}

.text-4{
  background-color:#D8E122;
}

.text-5{
  background-color: #D23333;
  color:white;
}

.text-6{
   background-color: #B2DEC3;
}

.white-text {
  color: white;
}


/*- - - - - - -CONTACT FORM*/

.contact {
  height: 80vh;
  margin-top: 15vh;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.contact-header{
  justify-content: center;
  flex-direction: column;
  display: flex;
  text-align: center;
  margin-bottom: 50px;
  color: #4A4A4A;
  /*margin-top: 20px;*/
}

.contact-header>p{
  width: 500px;
  margin: 0 auto;
}

.form-contact {
  width: 600px
  height: 500px;
  border-radius: 4px;
  padding: 10px;
  margin: 0 auto;
}

/*- - - - - - - - FOOTER*/

.footer {
  height: 100px;
  background-color: #4A4A4A;
  color: white;
  font-size: 11pt;
  text-align: center;
  padding: 20px;
  border-bottom: 10px solid #757575;
}


.footer-social {
  color: white;
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: 0 auto;
}

.footer-social>i>a{
  color: white;
}


/* - - MEDIA - -  */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  .float_left {
    float: none;
  }
  p {
    font-size: 14px;
  }

/*  p:hover {
  color: #16087C;
  font-size: 15px;
 }*/

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 340px;
  }
}
